@import "tailwindcss";

:root {
  /* Colors */
  --body-bg-light: var(--color-gray-50);
  --body-bg-dark: var(--color-gray-950);
  --body-fg-light: var(--color-slate-800);
  --body-fg-dark: var(--color-slate-200);

  --bg-light: var(--color-white);
  --bg-dark: var(--color-gray-900);
  --border-light: var(--color-gray-200);
  --border-dark: var(--color-gray-700);

  /* Others */
  --page-header-height: 61px;
  --sidebar-width: calc(var(--spacing) * 64); /* w-64 */
}

body {
  background-color: var(--body-bg-light);
  color: var(--body-fg-light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--body-bg-dark);
    color: var(--body-fg-dark);
  }
}
