@import "tailwindcss";

@layer base {
  :root {
    /* Color */
    --bg-light: var(--color-white);
    --bg-dark: var(--color-gray-900);
    --border-light: var(--color-gray-200);
    --border-dark: var(--color-gray-700);
    --text-light: var(--color-slate-800);
    --text-dark: var(--color-slate-200);
    --body-bg-light: var(--color-gray-50);
    --body-bg-dark: var(--color-gray-950);
    /* Spacing */
    --sidebar-width: calc(var(--spacing) * 64);
    --page-header-height: calc(var(--spacing) * 16);
  }
}

@theme {
  /* Color */
  --color-bg-light: var(--bg-light);
  --color-bg-dark: var(--bg-dark);
  --color-border-light: var(--border-light);
  --color-border-dark: var(--border-dark);
  --color-text-light: var(--text-light);
  --color-text-dark: var(--text-dark);
  --color-body-bg-light: var(--body-bg-light);
  --color-body-bg-dark: var(--body-bg-dark);
  /* Spacing */
  --spacing-sidebar-width: var(--sidebar-width);
  --spacing-page-header-height: var(--page-header-height);
}
